<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ruyaiptv" platformBuildVersionCode="26" platformBuildVersionName="8.0.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:maxSdkVersion="18" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.faketouch" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <application android:allowBackup="true" android:banner="@drawable/banner" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name="com.ruyaiptv.ActivityMain" android:screenOrientation="landscape" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/empty" android:name="com.ruyaiptv.ActivityPosters" android:screenOrientation="landscape" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:label="@string/empty" android:name="com.ruyaiptv.ActivityEpisodes" android:screenOrientation="landscape" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:label="@string/empty" android:name="com.ruyaiptv.ActivityList" android:screenOrientation="landscape" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:label="@string/empty" android:name="com.ruyaiptv.ActivitySettings" android:screenOrientation="landscape" android:theme="@style/PreferenceTheme"/>
        <activity android:label="@string/empty" android:name="com.ruyaiptv.ActivityPlayerLive" android:screenOrientation="landscape" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:label="@string/empty" android:name="com.ruyaiptv.ActivityPlayerVod" android:screenOrientation="landscape" android:theme="@style/AppTheme.NoActionBar"/>
    </application>
</manifest>